{% extends 'SchedulerBundle::layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <h1>{{ title }}</h1>
  {{ form_start(form, {'action': path('mobileprovider_create'), 'attr': {'class': 'contact'} }) }}
    {{ form_widget(form) }}
    <p>
      <button type="submit" class="btn btn-primary btn-large">Create</button>
    </p>
  {{ form_end(form) }}
  <p><a href="{{ path('mobileprovider') }}" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> List</a></p>

{% endblock %}
