<h1>Change Password</h1>
{{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'class': 'contact'} }) }}
	{{ form_widget(form) }}
	<p>
		<button type="submit" class="btn btn-primary btn-large">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
	</p>
{{ form_end(form) }}
<p><a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Back to profile</a></p>
