{% extends 'SchedulerBundle::layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

  {{ form_start(edit_form, {'action': path('team_import'), 'attr': {'class': 'contact'} }) }}
    {{ form_widget(edit_form) }}
    <p>
      <button type="submit" class="btn btn-primary btn-large">Update</button>
    </p>
  {{ form_end(edit_form) }}

  <p>
{% for line in output %}
{{ line|raw }}<br/>
{% endfor %}
  </p>

<a href="{{ path('team') }}" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> List</a>
{% endblock %}
