{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <h1>{{ title }}</h1>

  <table class="records_list table table-hover table-condensed">
    <thead>
    <tr>
      <th>Team</th>
      <th>Team Points</th>
      <th>Officials</th>
    </tr>
    </thead>
    <tbody>
    {% for teamid, team in teams %}
      <tr class="{% if team.short > 0 %}error{% else %}success{% endif %}">
        <td>{{ team.name }}</td>
        <td>{{ team.points }} of {{ team.points + team.short }}</td>
        <td>
          {% if team.refs %}
            {% for priority, ref in team.refs %}
              +{{ ref.points }} <a
              href="{{ path('ref_pnts_breakdown', { 'id': ref.user.id }) }}">{{ ref.user }}</a> #{{ ref.priority }}<br/>
            {% endfor %}
          {% else %}
            &nbsp;
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
