{% extends 'SchedulerBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <h1>{{ title }}</h1>

  <table class="records_list table table-hover table-condensed">
    <thead>
    <tr>
      <th>Referee</th>
      <th>Points</th>
      <th>Games</th>
    </tr>
    </thead>
    <tbody>
    {% for ref in refs %}
      <tr>
        <td><a href="{{ path('ref_pnts_breakdown', { 'id': ref.ref.id }) }}">{{ ref.ref }}</a></td>
        <td>{{ ref.points }}</td>
        <td>{{ ref.numgames }}</td>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
